


<div class="container">
  <!-- START: Products -->
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-10">
      <h1 class="products-title mb-4">Items List</h1>
    </div>
  </div>
  
  <div *ngIf="productsCollection.length > 0; else shimmer" class="row justify-content-center justify-content-md-start">
      
    <div *ngFor="let product of productsCollection" class="col-10 col-md-4 col-xl-3 mb-4">
      <div class="card border-0 text-center shadow-sm">
        <img [src]="product.icon" class="card-img-top" [alt]="product.name">
        <div class="card-body p-3">
          <p class="card-title font-weight-bold">{{product.name}}</p>
          <p class="card-text">
            <span>{{ product.price |currency: setCurrency() : 'symbol' : setDecimal() }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Products -->



  <!-- START: Products Shimmer loader -->
  <ng-template #shimmer>
  <div class="row justify-content-center justify-content-md-start">
    <div *ngFor="let number of [0,0,0,0]" class="col-10 col-md-4 col-xl-3 mb-4">
      <div class="card card-shimmer border-0 text-center shadow-sm">
        <span  class="card-img-top shimmer-bg"></span>
        <div class="card-body p-3 text-center">
          <div class="d-inline-block shimmer-bg shimmer-title mt-3 w-50"></div>
          <div class="d-inline-block shimmer-bg shimmer-content mt-3 w-75"></div>
          <div class="d-inline-block shimmer-bg shimmer-content shimmer-end"></div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
  <!-- END: Products Shimmer loader -->
</div>   