<!-- START: Header -->
<nav class="fixed-top navbar-dark bg-dark py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="nav-items">
          <!-- Brand Logo -->
          <a class="navbar-brand" routerLink="/">
            <span>JC Frontend Task</span>

            <span>
              <svg focusable="false" aria-hidden="true">
                <use [attr.xlink:href]="'#icon-' + countryFlag"></use>
              </svg>
            </span>
          </a>
      
          <!-- Country list -->
          <form class="form-inline w-100 justify-content-end my-2 my-lg-0">
            <select class="custom-select" (change)="changeCountry($event); getCountryFlag()">
              <option *ngFor="let country of countries" [selected]="country.country_id == selectedCountryId" [value]="country.country_id">{{country.name}}</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END: Header -->



<!-- START: SVGs -->
<svg class="d-none">
  <symbol id="icon-bahrain" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f0f0f0" r="256"/><path d="M256 0c-51.376 0-99.208 15.145-139.3 41.198l65.839 44.129-82.365 42.666 82.365 42.666-82.365 42.666 82.365 42.661-82.365 42.665 82.365 42.665-82.365 42.67 82.365 42.666-65.847 44.143C156.786 496.853 204.621 512 256 512c141.384 0 256-114.616 256-256S397.384 0 256 0z" fill="#d80027"/></symbol>

  <symbol id="icon-kuwait" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M496.077 345.043C506.367 317.31 512 287.314 512 256s-5.633-61.31-15.923-89.043L256 144.696 15.923 166.957C5.633 194.69 0 224.686 0 256s5.633 61.31 15.923 89.043L256 367.304z" fill="#f0f0f0"/><path d="M256 512c110.07 0 203.906-69.472 240.076-166.957H15.922C52.094 442.528 145.928 512 256 512z" fill="#d80027"/><path d="M256 0C145.928 0 52.094 69.472 15.922 166.957h480.155C459.906 69.472 366.07 0 256 0z" fill="#6da544"/><path d="M74.98 74.98c-99.974 99.974-99.974 262.065 0 362.04l91.976-91.976V166.957z"/></symbol>

  <symbol id="icon-qatar" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f0f0f0" r="256"/><path d="M512 256C512 114.616 397.384 0 256 0c-50.08 0-96.794 14.395-136.252 39.251l56.113 23.841-75.687 32.158 75.687 32.157-75.687 32.156 75.687 32.155-75.687 32.151 75.687 32.149-75.687 32.156 75.687 32.154-75.687 32.151 75.687 32.154-75.687 32.156 75.687 32.151-56.088 23.828C159.226 497.612 205.93 512 256 512c141.384 0 256-114.616 256-256z" fill="#751a46"/></symbol>

  <symbol id="icon-saudi-arabia" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#6da544" r="256"/><g fill="#f0f0f0"><path d="M144.696 306.087c0 18.441 14.95 33.391 33.391 33.391h100.174c0 15.368 12.458 27.826 27.826 27.826h33.391c15.368 0 27.826-12.458 27.826-27.826v-33.391zM370.087 144.696v77.913c0 12.275-9.986 22.261-22.261 22.261v33.391c30.687 0 55.652-24.966 55.652-55.652v-77.913zM130.783 222.609c0 12.275-9.986 22.261-22.261 22.261v33.391c30.687 0 55.652-24.966 55.652-55.652v-77.913h-33.391z"/><path d="M320 144.696h33.391v77.913H320zM269.913 189.217c0 3.069-2.497 5.565-5.565 5.565s-5.565-2.497-5.565-5.565v-44.522h-33.391v44.522c0 3.069-2.497 5.565-5.565 5.565s-5.565-2.497-5.565-5.565v-44.522H180.87v44.522c0 21.481 17.476 38.957 38.957 38.957a38.72 38.72 0 0 0 22.261-7.016 38.726 38.726 0 0 0 22.261 7.016c1.666 0 3.304-.117 4.915-.322-2.366 9.749-11.146 17.017-21.611 17.017v33.391c30.687 0 55.652-24.966 55.652-55.652v-77.913h-33.391v44.522z"/><path d="M180.87 244.87h50.087v33.391H180.87z"/></g></symbol>

  <symbol id="icon-united-arab-emirates" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" r="256" fill="#f0f0f0"/><path d="M144.696 345.043l22.261 151.036C194.689 506.37 224.686 512 256 512c110.07 0 203.906-69.472 240.076-166.957h-351.38z"/><path d="M144.696 166.957l22.261-151.036C194.689 5.63 224.686 0 256 0c110.07 0 203.906 69.472 240.076 166.957h-351.38z" fill="#6da544"/><path d="M0 256c0 110.071 69.473 203.906 166.957 240.077V15.923C69.473 52.094 0 145.929 0 256z" fill="#a2001d"/></symbol>
</svg>
<!-- END: SVGs -->