// Bootstrap functions
@import '../../../assets/scss/vendors/bootstrap/functions';
@import '../../../assets/scss/vendors/bootstrap/variables';
@import '../../../assets/scss/vendors/bootstrap/mixins';

// Theme functions
@import '../../../assets/scss/variables/_variables';

.navbar-brand {
  position: relative;

  svg {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, -20%);
  }
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  @include media-breakpoint-up(sm) {
    // START: Tablet size
    width:auto;
    flex-direction: row;
    // END: Tablet size
  }
}

select {
  cursor: pointer;
}