// Bootstrap functions
@import '../../../assets/scss/vendors/bootstrap/functions';
@import '../../../assets/scss/vendors/bootstrap/variables';
@import '../../../assets/scss/vendors/bootstrap/mixins';

// Theme functions
@import '../../../assets/scss/variables/_variables';


.card {
  transform: translateY(0);
  transition: 0.2s all ease;
  
  &-img-top {
    min-height: 200px;
    background-color: $color-light-gray;
  }
  

  &:not(.card-shimmer) {
    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
    }
  }
}