.shimmer {
  &-bg {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    // background: #F0F0F5;
    background: linear-gradient(125deg, #f0f0f5 4%, #e9e9ed 25%, #f0f0f5 36%);
    background-size: 1200px 100%;
    user-select: none;
  }

  &-title {
    width: 100%;
    height: 24px;
    margin-bottom: 12px;
    border-radius: $shimmer-radius;
  }

  &-content {
    width: 100%;
    height: 8px;
    margin-bottom: 16px;
    border-radius: $shimmer-radius;
  }

  &-btn {
    width: 100%;
    height: 36px;
    border-radius: $shimmer-radius;
  }

  &-end {
    width: 40%;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
