// Bootstrap functions
@import '../../../assets/scss/vendors/bootstrap/functions';
@import '../../../assets/scss/vendors/bootstrap/variables';
@import '../../../assets/scss/vendors/bootstrap/mixins';

// Theme functions
@import '../../../assets/scss/variables/_variables';


.lottie-wrapepr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(60vh - 50px);
  
  @include media-breakpoint-up(sm) {
    // START: Tablet size
    min-height: calc(80vh - 50px);
    
    // END: Tablet size
  }
}

ng-lottie {
  display: inline-block;
  margin: auto;
}