<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lottie-wrapepr">
        <ng-lottie [options]="options" width="50vw"></ng-lottie>
      
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3">
      <button routerLink="/" class="btn btn-primary btn-lg w-100">Go Home</button>
    </div>
  </div>
</div>
